@mixin fixHover($selectors...) {

    @if length($selectors) == 0 {
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                @content;
            }
        }
        @media (hover: none) and (pointer: coarse) {
            &:active {
                @content;
            }
        }
    } @else {
        @media (hover: hover) and (pointer: fine) {
            @each $selector in $selectors {
                #{$selector}:hover {
                    @content;
                }
            }
        }
        @media (hover: none) and (pointer: coarse) {
            @each $selector in $selectors {
                #{$selector}:active {
                    @content;
                }
            }
        }
    }
}
@mixin downloadButton($child, $margin, $positon: static, $z-index: 0) {
    background-color: rgba(0, 0, 0, 0.582);
    font-size: 18px;
    border-radius: 30%;
    align-items: center;
    padding: 5px;
    transition: all 0.2s;
    margin: #{$margin};
    position: #{$positon};
    z-index: #{$z-index};
    cursor: pointer;

    @include fixHover() {
        background-color: rgba(255, 255, 255, 0.24);
    } 
}

@mixin downloadImg() {
    width: 1.5em;
    height: auto;
    filter: invert(100%);
    transition: all 0.2s;
}

@mixin authorLink($margin, $position: static, $z-index: 0) {
    font-family: sans-serif;
    display: block;
    max-width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.582);
    color: rgb(255, 255, 255);
    margin: #{$margin};
    position: #{$position};
    z-index: #{$z-index};
      
    @include fixHover() {
        color: black;
        background-color: rgba(255, 255, 255, 0.24);
    }
}