*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, ol, menu {
    list-style: none;
}
button, input, textarea {
    border: 0;
    background-color: transparent;
}