.gallery {
    max-width: var(--gallery-max-width);
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
.loadButton {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: space-around;
    margin: 40px auto;

    &:hover {
        background-color: black;
        color: white;
    }
    &:hover .loadImg {
        filter: invert(100%);
    }
}
.loadImg {
    width: 30px;
    height: auto;
    transition: all 0.4s;
}
.endOfPages {
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}