@use '@/app/styles/mixins';

.categoriesContainer {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.categoryButton {
    background-color: #000;
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #222;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    @include mixins.fixHover() {
        background-color: #fff;
        color: #000;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        transform: translateY(-1px);
    }
}