@use '@/app/styles/mixins';

.modalPhoto {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    column-gap: 10px;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 
        opacity 0.3s,
        visibility 0s linear 0.3s
    ;
}
.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: 
        opacity 0.3s,
        visibility 0s linear 0s
    ;
}
body:has(.modalPhoto.active) {
    overflow: hidden;
}

.exitButton {
    cursor: pointer;
    align-self: flex-start;
    transition: all 0.2s;
    margin-top: 10px;
}
@media (max-width: 1024px) {
    .exitButton {
        position: absolute;
        margin-left: 80%;
        margin-top: 30px;
    }
}

@include mixins.fixHover('.exitButton') {
    filter: invert(50%);
    scale: 1.2;
}
.switchButton {
    cursor: pointer;
    width: 80px;
    max-height: fit-content;
    margin: 20px;
    z-index: 200;

    &:hover .switchImg {
        filter: invert(50%);
    }
}
.switchImg {
    filter: invert(100%);
    width: 100%;
    height: auto;
    transition: all 0.2s;
}
.imageChange {
    opacity: 0;
    translate: -50% -50%;
}
.left {
    translate: 50% 0;
}
.right {
    translate: -50% 0;
}

@media (max-width: 768px) {
    .switchButton {
        margin: -30%;
        margin-top: 50%;
    }
}