@use "@/app/styles/mixins";

.button {
    max-width: var(--gallery-button-width);
    font-family: Arial, Helvetica, sans-serif;
    max-height: auto;
    outline: 1px solid lightgray;
    overflow: hidden;
    z-index: 100;
    position: relative;
    border-radius: 20px;
}
.buttonImg {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    cursor: pointer;
    object-fit: cover;
    z-index: 200;
}

.downloadButton {
    right: 0;
    opacity: 0;
    @include mixins.downloadButton('.downloadImg', 20px 20px 0 0, absolute, 300)
}
.downloadImg {
    @include mixins.downloadImg
}
.buttonLink {
    @include mixins.authorLink(0 0 10px 10px, absolute, 300);
    bottom: 0;
    opacity: 0;
}
.buttonDescription {
    position: absolute;
    z-index: 300;
    margin: 20px 0 0 20px;
    max-width: 70%;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    transition: all 0.3s;
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover .downloadButton, 
        &:hover .buttonLink,
        &:hover .buttonDescription{
            opacity: 1;
        }
        &:hover .buttonImg {
            scale: 1.08;
            filter: brightness(0.65);
        }
    }
}
@media (hover: none) and (pointer: coarse) {
    .buttonImg:active {
        scale: 1.08;
        filter: brightness(0.65);
    }
}